[Unit]
Description=Run cronjob for {{ limesurvey_site_admin_name }} (limesurvey)
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c php {{ limesurvey_path }}/application/commands/console.php
User={{ limesurvey_user }}
